.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman",
        serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman",
        serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 0.875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}
@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}
.blog-pagination > .btn {
    border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: 0.25rem;
    font-size: 2.5rem;
    text-decoration: none;
    color: #000;
}

.blog-post-title:hover {
    color: #222;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 0.05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.ck-editor__editable_inline {
    min-height: 600px;
}

body {
    margin-top: 20px;
    background: #ebeef0;
}

.img-sm {
    width: 46px;
    height: 46px;
}

.panel {
    margin-bottom: 15px;
}

.panel-body {
    padding: 15px;
    background-color: #dcdcdc6b;
    border-radius: 20px;
}

.media-block .media-left {
    display: block;
    float: left;
}

.media-block .media-right {
    float: right;
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto;
}

.middle .media-left,
.middle .media-right,
.middle .media-body {
    vertical-align: middle;
}

.thumbnail {
    border-radius: 0;
    border-color: #e9e9e9;
}

.tag.tag-sm,
.btn-group-sm > .tag {
    padding: 5px 10px;
}

.tag:not(.label) {
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 2px;
    border: 1px solid #cdd6e1;
    font-size: 12px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}
.text-muted,
a.text-muted:hover,
a.text-muted:focus {
    color: #acacac;
}
.text-sm {
    font-size: 0.9em;
}
.text-5x,
.text-4x,
.text-5x,
.text-2x,
.text-lg,
.text-sm,
.text-xs {
    line-height: 1.25;
}

.btn-trans {
    background-color: transparent;
    border-color: transparent;
    color: #929292;
}

.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
}

.btn-sm,
.btn-group-sm > .btn,
.btn-icon.btn-sm {
    padding: 5px 10px !important;
}

.mar-top {
    margin-top: 15px;
}

.btn-lp {
    padding: 10px 25px !important;
    font-size: 14px !important;
}

.spacer {
    margin-bottom: 30px;
    margin-right: 100px;
}

.post-icon {
    color: #92929274;
    font-size: 24px;
}

.post-icon.fa-tag {
    color: cornflowerblue;
}

.post-icon.fa-comments {
    color: goldenrod;
}

.post-icon.fa-heart {
    transition: all 0.12s;
}

#love-count {
    cursor: pointer;
}

.hero-box {
    background-size: cover;
}
